NODE_ENV=development
PORT=3001
APP_VERSION=0.0.1
DB_PATH=./data/leccy.db
DB_ENCRYPTION_KEY=change_this_to_a_secure_key
JWT_SECRET=change_this_jwt_secret_to_something_secure
JWT_EXPIRES_IN=7d
ADMIN_PASSWORD=Admin@123
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=noreply@jahosi.co.uk
SMTP_PASS=your_smtp_password
SMTP_FROM=noreply@jahosi.co.uk
CAR_BATTERY_KWH=59
CAR_IDEAL_RANGE_MILES=265
DOMAIN=https://leccy.jahosi.co.uk
